body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 3em;
}

.navbar-container {
  background-color: lightgray;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  flex: 0 0 275px;
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

a:hover {
  font-weight: bold;
}

.container {
  display: flex;
  gap: 2em;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 50%;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
}

.modal-close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.modal-close-button:hover {
  color: #000;
}

.quicklinks {
  border: 1px solid black;
  height: 100%;
  font-size: 12px;
  min-width: 15vw;
  padding: 0.5em;
}

.table {
  width: 100%;
}

.arrow-cell {
  width: 30%;
}

.explanation-cell {
  width: 70%;
  padding: 10px;
}

.arrow {
  background-color: #0070A3;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

.arrow-text {
  flex: 1;
  text-align: center;
  color: white;
  font-weight: bold;
}

.arrow-tail {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #F36D26;
}

.orange {
  color: #F36D26
}

.title {
  background: #0070A3;
  color: white;
  padding: 0.5em;
  text-align: center;
}

.image {
  width: 60vw;
}

.dropdown-container {
  background: #091334;
  color: lightgrey;
  padding: 1em;
  border-radius: 10px;
}

#useCase {
  background: #FFD05C;
  color: #0F1D4B;
  font-weight: bold;
  padding: 1em;
  border-radius: 10px;
}

.onboarding-step-container {
  display: flex;
  gap: 5px;
}

.onboarding-step {
  font-size: 12px;
  color: lightgrey;
  border: none;
  cursor: pointer;
  padding: 5px;
  background-color: #2f4488;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.5s ease;
}

.onboarding-step-selected {
  background-color: #CCE3FF;
  color: #0F1D4B;
}

.concept-button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #3498db;
  border-radius: 20px;
  background-color: #ffffff;
  color: #3498db;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 5px;
}

.concept-button:hover {
  background-color: #2980b9;
  color: #ffffff;
}

.attribute-button {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #27ae60;
  border-radius: 20px;
  background-color: #ffffff;
  color: #27ae60;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 5px;
  margin-bottom: 5px;
}

.attribute-button:hover {
  background-color: #2ecc71;
  color: #ffffff;
}

.attribute-button.selected {
  background-color: #2ecc71;
  color: #ffffff;
}